body {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-style: oblique;
}

.jumbotron {
  background-attachment: scroll;
  background-image: url("/Images/paper.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: white;
  height:250px;
  margin-top: 100px;

}

.weatherjumbotron {
  background-attachment: scroll;
  background-image: url("/Images/weather-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  color: white;
  height:250px;
  margin-bottom: 25px;

}